.input{
  position: absolute;
  left:10%;
  top:30%;
}
.trans{
  position: absolute;
  left:39%;
  top:35%;
}

.btn{
  position: absolute;
  left:32%;
  top:45%
}
.form-label1{
  position: absolute;
  left:32%;
  top:35%;

}